:root {
  --background-blue: #b6ccda;
  --white: #fffafa;
  --navy: #404354;
  --mint: #58d7c4;
  --ocean: #cedde4;
}

@font-face {
  font-family: Poppins;
  src: url("../../public/Poppins-Regular.ttf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("../../public/Poppins-Bold.ttf");
}

* {
  font-family: Poppins;
}

/* Hovedgrid */
.grid-container {
  display: grid;
  grid-template-columns: 10dvh 2fr 1fr auto 10dvh;
  grid-template-rows: 1fr 2fr 0.5fr 0.8fr 2dvh;
  width: 1340px;
  height: 900px;
  border-radius: 25px;
  background-color: var(--background-blue);
  margin-inline: auto;
}

/* knap */
.buyButton {
  border: 3px solid var(--white);
  color: var(--white);
  border-radius: 100px;
  background-color: var(--background-blue);
  padding: 0.8rem 3rem;
  font-size: 24px;
  align-self: start start;
  grid-column: 2;
  grid-row: 3;
  width: fit-content;
  height: fit-content;
}

/* Text */
.heading {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  .headingText {
    font-size: 64px;
    color: var(--white);
    font-weight: 200;
    letter-spacing: 0.2rem;
    span {
      font-family: PoppinsBold;
    }
  }
}

/* Navigationsbar / Header */
.nav-bar {
  display: flex;
  justify-content: space-between;
  grid-row: 1;
  grid-column: 2 / 5;
  align-self: center;
  .apple-logo {
    svg {
      color: var(--white);
      height: 50px;
      width: 50px;
    }
  }
  .nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    color: var(--white);
    * {
      padding: 0;
      margin: 0;
    }
    svg {
      height: 24px;
      width: 24px;
      &:last-of-type {
        padding-left: 1rem;
        border-left: 3px solid var(--white);
      }
    }
    p {
      font-size: 32px;
    }
  }
}
