:root {
  --background-blue: #b6ccda;
  --white: #fffafa;
  --navy: #404354;
  --mint: #58d7c4;
  --ocean: #cedde4;
}

@font-face {
  font-family: Poppins;
  src: url("../../public/Poppins-Regular.ttf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("../../public/Poppins-Bold.ttf");
}

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

/* Main grid */
.grid-container {
  display: grid;
  grid-template-columns: 65px 50% 33% auto 65px;
  grid-template-rows: 1fr 2fr 0.5fr 0.65fr 65px;
  width: 1340px;
  height: 900px;
  border-radius: 25px;
  background-color: var(--background-blue);
  margin-inline: auto;
  margin-block: 2rem;
}

/* Navigationbar / Header */
.nav-bar {
  display: flex;
  justify-content: space-between;
  grid-row: 1;
  grid-column: 2 / 5;
  align-self: center;
  .apple-logo {
    svg {
      color: var(--white);
      height: 50px;
      width: 50px;
    }
  }
  .nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    * {
      padding: 0;
      margin: 0;
    }
    svg {
      height: 24px;
      width: 24px;
      &:last-of-type {
        padding-left: 1rem;
        border-left: 3px solid var(--white);
      }
    }
  }
  .nav-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    p {
      font-size: 18px;
      color: var(--white);
      &:nth-of-type(4) {
        background-color: var(--white);
        color: var(--background-blue);
        padding: 0.5rem 3rem;
        border-radius: 25px;
        font-family: PoppinsBold;
      }
    }
  }
}

/* Button */
.buy-button {
  border: 3px solid var(--white);
  color: var(--white);
  border-radius: 100px;
  background-color: var(--background-blue);
  padding: 0.8rem 5rem;
  font-size: 24px;
  align-self: start start;
  grid-column: 2;
  grid-row: 3;
  width: fit-content;
  height: fit-content;
}

/* Text */
.heading {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  .headingText {
    font-size: 60px;
    color: var(--white);
    font-weight: 200;
    letter-spacing: 0.1rem;
    span {
      font-family: PoppinsBold;
    }
  }
}

/* Page buttons */
.page-buttons {
  grid-column: 2;
  grid-row: 4;
  align-self: end;
  justify-self: start;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--white);
  font-size: 14px;
  svg {
    width: 20px;
    height: 20px;
  }
}

/* iWatch image*/
.watch-image {
  grid-column: 3;
  grid-row: 2 / span 2;
}

/* Circles next to image */
.color-circles {
  grid-column: 4;
  grid-row: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    width: 20px;
    height: 20px;
    border-radius: 900px;
    border: 2px solid var(--white);
    z-index: 100;
    &:first-of-type {
      background-color: var(--navy);
      width: 30px;
      height: 30px;
      border-width: 4px;
      box-shadow: 0 0 3px
        oklch(0.1617 0.0309 235.72 / 82.6%);
    }
    &:nth-of-type(2) {
      background-color: var(--mint);
    }
    &:last-of-type {
      background-color: var(--ocean);
    }
  }
  .dots {
    color: var(--white);
    rotate: 90deg;
    height: 30px;
    width: auto;
  }
}

/* Color picker with preview */
.color-selector {
  grid-column: 3;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: end;
  .watch-color {
    display: grid;
    grid-template-rows: 1fr;
    .watch-img-small {
      height: auto;
      width: 90px;
      margin-bottom: 10px;
      grid-row: 1;
      grid-column: 1;
      z-index: 1;
    }
    .color-box {
      border-radius: 10px;
      width: 120%;
      height: 70%;
      grid-row: 1;
      grid-column: 1;
      align-self: end;
      justify-self: center;
    }
    .navy {
      background-color: var(--navy);
    }
    .mint {
      background-color: var(--mint);
    }
    .ocean {
      background-color: var(--ocean);
    }
  }
}
