:root {
  --background-blue: #b6ccda;
  --white: #fffafa;
  --navy: #404354;
  --mint: #58d7c4;
  --ocean: #cedde4;
}

@font-face {
  font-family: Poppins;
  src: url("../../public/Poppins-Regular.ttf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("../../public/Poppins-Bold.ttf");
}

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

/* Hovedgrid */
.grid-container {
  display: grid;
  grid-template-columns: 65px auto auto auto 65px;
  grid-template-rows: 1fr 2fr 0.5fr 0.8fr 1dvh;
  width: 1340px;
  height: 900px;
  border-radius: 25px;
  background-color: var(--background-blue);
  margin-inline: auto;
  margin-block: 2rem;
}

/* Navigationsbar / Header */
.nav-bar {
  display: flex;
  justify-content: space-between;
  grid-row: 1;
  grid-column: 2 / 5;
  align-self: center;
  .apple-logo {
    svg {
      color: var(--white);
      height: 50px;
      width: 50px;
    }
  }
  .nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    * {
      padding: 0;
      margin: 0;
    }
    svg {
      height: 24px;
      width: 24px;
      &:last-of-type {
        padding-left: 1rem;
        border-left: 3px solid var(--white);
      }
    }
  }
  .nav-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    p {
      font-size: 18px;
      color: var(--white);
      &:nth-of-type(4) {
        background-color: var(--white);
        color: var(--background-blue);
        padding: 0.5rem 3rem;
        border-radius: 25px;
        font-family: PoppinsBold;
      }
    }
  }
}

/* Knap */
.buyButton {
  border: 3px solid var(--white);
  color: var(--white);
  border-radius: 100px;
  background-color: var(--background-blue);
  padding: 0.8rem 5rem;
  font-size: 24px;
  align-self: start start;
  grid-column: 2;
  grid-row: 3;
  width: fit-content;
  height: fit-content;
}

/* Text */
.heading {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  .headingText {
    font-size: 60px;
    color: var(--white);
    font-weight: 200;
    letter-spacing: 0.1rem;
    span {
      font-family: PoppinsBold;
    }
  }
}

/* Page Knapper */
.page-buttons {
  grid-column: 2;
  grid-row: 4;
  align-self: start end;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--white);
  font-size: 14px;
  svg {
    width: 20px;
    height: 20px;
  }
}

/* Ur billede */
.watch-image {
  grid-column: 3;
  grid-row: 2 / span 2;
}

.color-circles {
  grid-column: 4;
  grid-row: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  div:not(.vl) {
    width: 20px;
    height: 20px;
    border-radius: 900px;
    border: 2px solid var(--white);
    z-index: 100;
    &:first-of-type {
      background-color: var(--navy);
      width: 30px;
      height: 30px;
      border-width: 4px;
      box-shadow: 0 0 3px
        oklch(0.1617 0.0309 235.72 / 82.6%);
    }
    &:nth-of-type(2) {
      background-color: var(--mint);
    }
    &:last-of-type {
      background-color: var(--ocean);
    }
  }
}
